DAPA2026_01/src/kappale04/src/h2/transactions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- Root element -->
  <xs:element name="Transactions">
    <xs:complexType>
      <xs:sequence>

        <!-- Multiple Transaction elements -->
        <xs:element name="Transaction" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <!-- Required elements -->
              <xs:element name="transactionDate" type="xs:date"/>

              <xs:element name="fromAccount">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="FI\d{16}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="toAccount">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="FI\d{16}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="amount">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="10"/>
                    <xs:fractionDigits value="2"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="unit">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="EUR"/>
                    <xs:enumeration value="SEK"/>
                    <xs:enumeration value="USD"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="recipientName" type="xs:string"/>

              <xs:element name="referenceNumber">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="RF\d{16}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <!-- Optional message element -->
              <xs:element name="message" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="32"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>