DAPA2026_01/src/kappale04/src/h3/products.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- Root element -->
  <xs:element name="Products">
    <xs:complexType>
      <xs:sequence>

        <!-- Multiple Product elements -->
        <xs:element name="Product" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <!-- Required elements -->
              <xs:element name="product_name" type="xs:string"/>

              <xs:element name="price">
                <xs:simpleType>
                  <xs:restriction base="xs:decimal">
                    <xs:totalDigits value="4"/>
                    <xs:fractionDigits value="2"/>
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="99.99"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="unit">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="EUR"/>
                    <xs:enumeration value="USD"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

              <xs:element name="ean" minOccurs="0">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="\d{8}"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>